@import "mixins";
@import 'variables';

// Form

.mat-form-field-appearance-outline .mat-form-field-outline {
    background: white;
    border-radius: 4px;
}

.mat-form-field-wrapper {
    // padding-bottom: 6px;
}

.mat-form-field {
    width: 100%;
}

.mat-hint {
    color: $txt-bright;
}

.mat-toolbar {
    @include center-all();
    justify-content: space-between;
    padding: unset!important; 
    background-color: unset;

    div{
        display: flex;
        gap: 1.2em; 
    }
}
