

// Form 

.mat-form-field-appearance-outline .mat-form-field-outline {
    background: white;
    border-radius: 4px;
}

.mat-form-field-wrapper {
   // padding-bottom: 6px;
}

.mat-form-field {
    width: 100%;
  }

.mat-hint{
    color: $txt-bright;
}
  
