$primary-color:#e50914;  
$primary-hover:#e50914be;
//$accent-color:#f6900a;
$txt-dark: rgba(0, 0, 0, 0.945);
$txt-bright: white;



$padding-main:16px;
$padding-small: 4px;
$padding-medium: 8px;


// breakpoints
$bp-medium: '(min-width: 800px)';
$bp-large: '(min-width: 1000px)';
$bp-huge: '(min-width: 1200px)';
