$accent-color:#e50914;  
$accent-hover:#e50914be;
$txt-dark: black;
$txt-bright: white;


// padding
$pg-pagewidth: 60px;
$pg-small: 4px;
$pg-medium: 8px;


// breakpoints
$bp-medium: '(min-width: 800px)';
$bp-large: '(min-width: 1000px)';
$bp-huge: '(min-width: 1200px)';
